.rootHeader
{
	background-image:url('Images/logo.gif');
	width: 558px;
	height: 212px;
}

.projectHeader
{
}

.sectionTitle
{
}

.projectLink
{
}

.projectSummary
{
}

.documentLink
{
}

.documentSummary
{
}

.pageTitle
{
}

.section
{
}

.summary
{
}

.label
{
}

.description
{
}

.definitionList
{
}

.definition
{
}